{% extends "base.html" %}

{% block content %}
{% if not traidor_ha_votado %}
<div class="mb-3">
    <form action="{{ url_for('sentenciar_jugador') }}" method="POST">
        <div class="mb-3">
            <label for="sentenciar_usuarios" class="form-label">¿Quien quieres que sea el próximo traidor?</label>
            <select id="sentenciar_usuarios" name="sentenciar_usuarios" class="form-select">
                {% for usuarios_no_traidor in usuarios_no_traidores %}
                {% if usuarios_no_traidor != 'admin' %}
                <option value="{{ usuarios_no_traidor }}">{{ usuarios_no_traidor }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-outline-danger btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg> VOTAR
            </button>
        </div>
    </form>
</div>
{% else %}
<div class="alert alert-success" role="alert" style="margin-top: 30px;">
    Tu voto ya ha sido registrado hoy.
</div>
{% endif %}

<h1>Chat de Traidores</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>TEXTO</th>
            <th>FECHA Y HORA</th>
        </tr>
    </thead>
    <tbody>
        {% for mensaje in mensajes %}
        <tr>
            <td>{{ mensaje[0] }}</td>
            <td>{{ mensaje[1] | datetimeformat }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}